
@model RecipeModel

@inject RoleManager<IdentityRole> RoleMan
@inject UserManager<IdentityUser> UserMan

<div class="card">
    <div class="card-body">
        <div class="row card-header">
            <h5 class="card-title">@Model.Name</h5>
            @if (User.IsInRole("Admin"))
            {
                <form asp-action="DeleteRecipe" asp-controller="Recipe" method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.ID" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            }
        </div>
        <p class="card-text">@Model.Description</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h5>Ingredients</h5>
        <ul class="list-group">
            @foreach (string s in Model.Ingredients)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>

    <div class="col-6">
        <h5>Directions</h5>
        <ul class="list-group">
            @foreach (string s in Model.Steps)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>
</div>

